* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #333;
}

#content {
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 800px;

}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    padding: 10px;


}

#add {
    width: 100px;
    height: 30px;
    border-radius: 5px;

}

#container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}



.list {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.464);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: auto    ;
    
}
.p-list {
    text-wrap: wrap;
    word-wrap: break-word;
}

.container-p-text {
    width: 80%;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.elements {
    width: 150px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.button-completed {
    width: 30px;
    height: 30px;
    background-image: url('assets/checked.png');
    background-size: 100% 100%;
    border: none;
}
.button-edit {
    width: 30px;
    height: 30px;
    background-image: url('assets/edit.png');
    background-size: 100% 100%;
    border: none;
}
.button-edit-confirm {
    border-radius: 10%;
    width: 30px;
    height: 30px;
}
.button-delete {
    width: 30px;
    height: 30px;
    background-image: url('assets/delete.png');
    background-size: 100% 100%;
    border: none;
}

