@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes back {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 50%;
    }
}

@keyframes animat {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to left, #0a0716,
            /* Deep Violet */
            #000c19,
            /* Electric Blue */
            #002523,
            /* Teal Glow */
            #250025,
            /* Dark Magenta */
            #001c1c);
    background-size: 400% 100%;
    animation: animat 10s linear;
    animation: back 40s infinite linear;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

#content {
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    border: none;
    background-color: #dadada;
    
}



#add {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #dadada;

}

#container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

.list {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.464);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: auto;
    animation: animate 0.5s linear;
    transition: 0.25s linear;
    border-radius: 5px;

}

.p-list {
    text-wrap: wrap;
    word-wrap: break-word;
    width: 100%;
    text-align: justify;
    display: block;
}

.container-p-text {
    width: auto;
    max-width: 70%;
    display: flex;
}

@media screen and (max-width: 700px) {
    .elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
}

.elements {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.button-completed {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url('assets/checked.png');
    background-size: 100% 100%;
    border: none;
}

.button-edit {
    width: 30px;
    height: 30px;
    background-image: url('assets/pen.png');
    background-size: 100% 100%;
    border: none;
    border-radius: 50%;

}

.input-edit {
    display: none;
}

.carro {
    display: flex;
    flex-direction: row-reverse;
    background-color: #007BFF;
    border-radius: 20px;
    transition: 0.25s linear;

    .button-edit-confirm {
        border-radius: 10%;
        width: 30px;
        height: 30px;
    }

    .p-list {
        display: none;
    }

    .container-p-text {
        display: none;
    }

    .button-completed {
        display: none;
    }

    .button-delete {
        display: none;
    }

    .list {
        flex-direction: row-reverse;
    }

    .input-edit {
        display: block;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #007BFF;
        color: white;
        font-size: medium;
        width: 500px;
        transition: 0.25s linear;
    }
}

.button-delete {
    width: 30px;
    height: 30px;
    background-image: url('assets/delete.png');
    background-size: 100% 100%;
    border: none;
    border-radius: 50%;

}

.completed {
    text-decoration: line-through;
    color: white;
}

.list-completed {
    background-color: rgba(36, 175, 36, 0.989);
    transition: 0.25s linear;
    border-radius: 20px;
}